html{
    font-size:18px;
    font-family:'Merriweather',serif;
    font-weight:bold;

}


body {
  margin: 0;
  }

/*if you could help that will be grateful */
/* also played around wit the mobile . i hope that is acceptable */
/* header */

/* I have a problem with the header as i am trying to make sure they are inline with eachother but no luck also the start part thathas the background color red they are not inline to dont know why */
.sitecontainer{
    width:100%;
}




.logo{
   flex:1;
   
}
@media only screen and (max-width:600px){
    .logo{
        display:none;
        
       
    } 

    
}

.headercolmar strong{
   color:blue;
}

.headercolmar{
    display:flex;
   justify-content: flex-end;
   flex:1;
   
}



.headercolmar nav a {
    text-decoration:none;
    position: relative;
    padding-right:10px;
 
    
    /*bottom:109px;
    padding:5px;
    left:999px;
   
}
.headercolmar h1{
    position:relative;
    bottom:58px;
    left:60px;
}
.headercolmar h1{
    font-size: 1.5rem;*/
}



.headercolmar img{
    margin-left:26px;
    position:relative;
    Top:7px;
    
}



nav:first-child h1{
    color:blue;
}

.mobilenav{
display:none;
}
@media only screen and (max-width:600px){
        .mobilenav{
          display:flex;
          justify-content: center;
    
        } 
        .headercolmar{
            display:flex;
            justify-content: center ;
        }

        
}


ul.mobilenav{
   
}


@media only screen and (max-width:600px){
    ul.mobilenav{
        padding:0;
    } 

   
}
/* First part */

.Firstpart{
    background-color:grey;
    display:flex;
    flex-direction:row;
 
}

@media only screen and (max-width:600px){
    .Firstpart  {
        display:flex;
        flex-direction:column;
        width:100%;
       
    } 

   
}




.firsttxt p{
   display:flex;
   justify-content: center;
}

@media only screen and (max-width:600px){
    .firsttxt p{
        display:none;
    } 

   
}



.Firstpart img{
    width:66%;
    padding-left:24px;
    padding-bottom:32px;
    padding-top:32px;
    padding-right:24px;
}

@media only screen and (max-width:600px){
    .Firstpart img{
        width:92%;
        padding-left:1rem;

    } 

   
}


.Firstpart .startt{
      margin-right:160px;
      
}
.navbars nav{
    margin-bottom:34px;
}

@media only screen and (max-width:600px){
    .navbars nav {
       display:none;
    } 

   
}



.Firstpart h1{
    display:flex;
    justify-content:flex-end;
    margin-right:45px;
   


    
}

.firsttxt h1 {
   
   padding-top:90px;
}

@media only screen and (max-width:600px){
    .Firstpart h1 {
        display:flex;
        flex-direction:column;
        padding-left:1rem;
        font-weight: bold;
     
    } 

   
}



.Firstpart p{
    display:flex;
    justify-content: center;
    margin-right:82px;
    padding-right:8rem;
}

@media only screen and (max-width:600px){
    .Firstpart p {
        display:flex;
        flex-direction: column;
        padding-left:1rem;
    }

   
}


 

.Firstpart .clickme{
    display:flex;
    align-content:flex-end;
    margin-right:98px;
    
}

.btnstart{
   position: relative;
  
  
    
}

button {
    position: relative;
    
    border-radius:4px;

  
   cursor: pointer;
   

    }

    @media only screen and (max-width:600px){
        button {
            margin-bottom:45px;
        } 
    
       
    }
    
   
   
    .startt{
        width:34%;
        
     
    }

    @media only screen and (max-width:600px){
        .startt {
            margin-bottom:45px;
            color:grey
        } 
    
       
    }
    



/* Second part */
.leftpart img{
    width:85%;
    padding-top:32px;
    padding-bottom:42px;
    padding-left:24px;
   
}

@media only screen and (max-width:600px){
    .leftpart img {
        display:none;
    } 

   
}



.column2information {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width:600px){
    .column2information {
      display:flex;
      flex-direction:column;

    } 

   
}


.info{
 display:flex;
 justify-content: flex-end;
 /* height: 20rem; */
 margin-bottom: 3rem;
}

button {
    width: 15rem;
    margin-left: 3rem;
}

.second{
    padding-bottom:2rem;
}

.backgroundcolor{
    background-color:grey;
}

@media only screen and (max-width:600px){
    .backgroundcolor {
       background-color: lightgrey;
    } 

   
}


.container{
    display:flex;
    justify-content: flex-end;
    margin-bottom:2px;
    
}


@media only screen and (max-width:600px){
    .container {
       display:none;
    } 

   
}


.details{
    position:relative;
    padding-left:1rem;
}



.leftpart h2{
    padding-left:62px;
  
}
@media only screen and (max-width:600px){
    .leftpart h2 {
        display:none;
    } 

   
}

.leftpart p{
padding-left:62px;
}

@media only screen and (max-width:600px){
    .leftpart p {
        display:none;
    } 

   
}





.newclass{
    display:flex;
    justify-content: flex-end;
}

.container2 img{
    display:flex;
    justify-content: flex-end;
}

.container img {
    display:flex;
    
   
}
.container2 h1 {
    display:flex;
    justify-content:flex-end;
}
.imagecontainer{
    display:flex;
    justify-content: flex-end;
}

.container2 p {
    display:flex;
    justify-content: flex-end;
}

.color{
    background-color:red;
    width:78%;
}

.color h1{
    padding-left:16px;
   
}

.color p{
    padding-left:16px;
    padding-bottom:24px;
}


@media only screen and (max-width:600px){
    .color {
        display:none;
    } 

   
}


.start{
    padding-top:32px;
    padding-bottom:32px;
}

.coursemobile li{
display:none;

}

.software{

}

.computer{

}

.design{

}

.data{

}

.business{

}

.marketing{

}

@media only screen and (max-width:600px){
    .coursemobile li {
         display:block;
         padding-top:1rem;
         margin-right:90px;
         text-align:center;
         padding-left:16px;
         padding-bottom:16px;
     
       
      
        
    } 
   .software {
       background-color: lightgray;
       padding-left:16px;
        padding-bottom:16px;
     

   }

   .business{
       background-color:lightgrey;
       padding-left:16px;
       padding-bottom:16px;
     
   }

   .marketing{
       background-color:lightgrey;
       padding-bottom:24px;
   }

   .data{
       background-color:lightgrey;
       padding-left:16px;
       padding-bottom:16px;
     
   }

   .computer{
       background-color:lightgrey;
       padding-left:16px;
       padding-bottom:16px;
     
   }
}


.mobiles{
    display:none;
}




/* Third part */

.learningcontainer{
   display:flex;
   flex-direction:row;
   padding-left:89px;
  

 
}

@media only screen and (max-width:600px){
    .learningcontainer{
        display:none;
    } 

   
}




.learningcontainer img{
    width:78%;
    
}

.start{
    text-align:center;
}

.details p {
    text-decoration: none;
}

.startcontainer{
   display:flex;
 flex-direction:row;
 padding-left:89px;
 
}

@media only screen and (max-width:600px){
    .startcontainer {
        display:none;
    } 

   
}


.startcontainer img{
    width:78%
}


.color{
    width:78%;
}









/* Third part */

.secondthesis video{
   width:92%;
   padding-left:24px;
   padding-right:24px;

}

.secondthesis h2{
 padding-left:20px;
}

.secondthesis p{
    padding-left:20px;
}

.thesispart h1{
    text-align:center;
}

.txtthesis p{
    display:flex;
    justify-content: flex-end;
}

.txtthesis h3{
    display:flex;
    justify-content: flex-end;
}

.imagethesis img{
    display:flex;
    justify-content: flex-end;
   
}

.mediacontainerthesis {
    display:flex;
    justify-content: flex-end;
  

}

.secondimage{
    display:flex;
    justify-content: flex-end;
}

.txtimage h3 {
display:flex;
justify-content:flex-end;
}

.txtimage {
    display:flex;
    justify-content: flex-end;
}

.mediacontainerthesis img {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info{
    display:flex;
    justify-content: flex-end;
    transition-property: background-color 200ms linear;
    
}

.info:hover{
    background-color:grey;
}

.infonow{
    display:flex;
    justify-content: flex-end;
}
.classtype2{
    display:flex;
}

.infonow{
    display:flex;
    
}

.infonow:hover{
    background-color:grey;
  
   
    
    
}
@media only screen and (max-width:600px){
    .infonow {
        display:none;
    } 

   
}

.infox:hover{
    background-color:grey;
}
.secondinfo:hover{
    background-color:grey;

}
.secondinfo{
     display: flex;
}

 .fisma {
  
}

.secondthesis h1{
    text-align:right;
    display:flex;
    justify-content: center;
}

.infox h3{
    position: relative;
    padding-left:1rem;
   
    
}

@media only screen and (max-width:600px){
    .infox h3 {
        display:none;
    } 

   
}


.infox p{
   padding-left:1rem;
    
    
    
}

 .infox .noww{
  Padding-left:1rem;

 }

 .infox img{

 }

 .infox .now{
     padding-right:2rem;
}

@media only screen and (max-width:600px){
    .infox .now{
        display:none;
    } 
.infox img{
    display: none;
}
   
}

.infonow{
    padding-bottom:20px;
    padding-top:20px;
 
}

.infoxx .noww{
    padding-left:1rem;
}

.infoxx .now{
    padding-left:1rem;
}
/* Footer*/






nav div{
    display:flex;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: space-between;
   
}

ul li{
  margin-right:1rem;
  display:inline-flex;
  cursor: pointer;

  
 
  
}

ul li:hover{
    background-color:grey;
}

