html{
    font-size:18px;
    font-family:'Merriweather',serif;
    font-weight:bold;

}


body {
  margin: 0;
  }


/* header */

.sitecontainer{
    width:100%;
}


.headercolmar nav a {
    text-decoration:none;
    position: relative;
    bottom:109px;
    padding:5px;
    left:999px;
   
}

.headercolmar h1{
    position:relative;
    bottom:58px;
    left:60px;
}




.headercolmar img{
    margin-left:26px;
    position:relative;
    Top:7px;
    
}


nav:first-child h1{
    color:blue;
}
/* First part */
.Firstpart{
    background-color:grey;
    height:678px;
 
}

.Firstpart img{
    width:56%;
    padding-left:24px;
    padding-bottom:32px;
    padding-top:32px;
    padding-right:24px;
}

.Firstpart .startt{
      margin-right:160px;
      height:100px;
    
}

.Firstpart h1{
    display:flex;
    justify-content:flex-end;
    padding-left:24px;
    position: relative;
    bottom:399px;
    margin-right:45px;

}

.Firstpart p{
    display:flex;
    justify-content: flex-end;
    position: relative;
    bottom:399px;
    margin-right:82px;
}

 .Firstpart .clickme{
    display:flex;
    align-content:flex-end;
    margin-right:98px;
    
}



/* Second part */
.leftpart img{
    width:74%;
    padding-top:32px;
    padding-bottom:42px;
    padding-left:24px;
   
}

.info{
 display:flex;
  
}

button {
    width: 15rem;
    margin-left: 3rem;
}

.second{
    padding-bottom:2rem;
}

.backgroundcolor{
    background-color:grey;
}

.container{
    display:flex;
    justify-content: flex-end;
    margin-bottom:32px;
    padding-top:84px;
}

.details{
    position:relative;
    top:110px;
    padding-left:1rem;
}



.leftpart h2{
    padding-left:62px;
  
}

.leftpart p{
padding-left:62px;
}

.newclass{
    display:flex;
    justify-content: flex-end;
}

.container2 img{
    display:flex;
    justify-content: flex-end;
}

.container img {
    display:flex;
    padding-bottom
   
}
.container2 h1 {
    display:flex;
    justify-content:flex-end;
}
.imagecontainer{
    display:flex;
    justify-content: flex-end;
}

.container2 p {
    display:flex;
    justify-content: flex-end;
}

.color{
    background-color:red;
    width:78%;
}

.color h1{
    padding-left:16px;
   
}

.color{

}

.color p{
    padding-left:16px;
    padding-bottom:24px;
}

.start{
    padding-top:32px;
    padding-bottom:32px;
}

/* Third part */

.learningcontainer{
   display:flex;
   flex-direction:row;
   padding-left:89px;
 
}

.learningcontainer img{
    width:78%;
}

.start{
    text-align:center;
}

.details p {
    text-decoration: none;
}

.startcontainer{
   display:flex;
 flex-direction:row;
 padding-left:89px;
 
   
    
}

.startcontainer img{
    width:78%
}








/* Third part */

.secondthesis video{
   width:92%;
   padding-left:24px;
   padding-right:24px;

}

.secondthesis h2{
 padding-left:20px;
}

.secondthesis p{
    padding-left:20px;
}

.thesispart h1{
    text-align:center;
}

.txtthesis p{
    display:flex;
    justify-content: flex-end;
}

.txtthesis h3{
    display:flex;
    justify-content: flex-end;
}

.imagethesis img{
    display:flex;
    justify-content: flex-end;
   
}

.mediacontainerthesis {
    display:flex;
    justify-content: flex-end;
  

}

.secondimage{
    display:flex;
    justify-content: flex-end;
}

.txtimage h3 {
display:flex;
justify-content:flex-end;
}

.txtimage {
    display:flex;
    justify-content: flex-end;
}

.mediacontainerthesis img {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info{
    display:flex;
    justify-content: flex-end;
    transition-property: background-color 200ms linear;
    
}

.info:hover{
    background-color:grey;
}

.infonow{
    display:flex;
    justify-content: flex-end;
}
.classtype2{
    display:flex;
}

.infonow{
    display:flex;
}

.secondinfo{
     display: flex;
}

 .fisma {
  padding-top:92px;
}

.secondthesis h1{
    text-align:right;
}

.infox h3{
    position: relative;
    top:99px;
    padding-left:1rem;
}

.infox p{
    position:relative;
    top:90px;
    padding-left:1rem;
}

 .infox .noww{
     position:relative;
     top:64px;

 }

 .infox .now{
     position:relative;
     right:17px;
     bottom:17px;
     padding-left:2rem;
}




/* Footer*/
footer h4{
    padding-left:20px;
}
