html{
    font-size:18px;
    font-family:'Merriweather',serif;
    font-weight:bold;

}


body {
  margin: 0;
  }


/* header */

.sitecontainer{
    width:100%;
}

.logo{
   flex:1;
   
}




.headercolmar{
    display:flex;
   justify-content: flex-end;
   flex:1;
}

.headercolmar nav a {
    text-decoration:none;
    position: relative;
    padding-right:10px;
    
    /*bottom:109px;
    padding:5px;
    left:999px;
   
}
.headercolmar h1{
    position:relative;
    bottom:58px;
    left:60px;
}
.headercolmar h1{
    font-size: 1.5rem;*/
}

strong{
    font-weight:bold;
    color:black;
}

.headercolmar img{
    margin-left:26px;
    position:relative;
    Top:7px;
    
}


nav:first-child h1{
    color:blue;
}

.mobile{
display:none;
}
@media only screen and (max-width:600px){
        .mobile{
            display:inline-flex;
            justify-content: space-around;
            flex:1;
        } 

        .nav .headercolmar{
            display:none;
        }
}

/* First part */

.Firstpart{
    background-color:grey;
    display:flex;
    flex-direction:row;
 
}


.firsttxt p{
   display:flex;
   justify-content: center;
}

.Firstpart img{
    width:56%;
    padding-left:24px;
    padding-bottom:32px;
    padding-top:32px;
    padding-right:24px;
}

.Firstpart .startt{
      margin-right:160px;
      
}
.navbars{
    margin-bottom:34px;
}
.Firstpart h1{
    display:flex;
    justify-content:flex-end;
    padding-left:24px;
    position: relative;
   
    margin-right:45px;

    
}

.Firstpart p{
    display:flex;
    justify-content: flex-end;
    position: relative;
  margin-right:82px;
}

 .Firstpart .clickme{
    display:flex;
    align-content:flex-end;
    margin-right:98px;
    
}

.btnstart{
   position: relative;
  
  
    
}

button {
    position: relative;
    
    border-radius:4px;

  
   cursor: pointer;
   

    
    }

    .startt{
        width:34%;
        
     
    }





/* Second part */
.leftpart img{
    width:85%;
    padding-top:32px;
    padding-bottom:42px;
    padding-left:24px;
   
}

.column2information {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.info{
 display:flex;
 justify-content: flex-end;
 /* height: 20rem; */
 margin-bottom: 3rem;
}

button {
    width: 15rem;
    margin-left: 3rem;
}

.second{
    padding-bottom:2rem;
}

.backgroundcolor{
    background-color:grey;
}

.container{
    display:flex;
    justify-content: flex-end;
    margin-bottom:2px;
    
}

.details{
    position:relative;
    padding-left:1rem;
}



.leftpart h2{
    padding-left:62px;
  
}

.leftpart p{
padding-left:62px;
}

.newclass{
    display:flex;
    justify-content: flex-end;
}

.container2 img{
    display:flex;
    justify-content: flex-end;
}

.container img {
    display:flex;
    
   
}
.container2 h1 {
    display:flex;
    justify-content:flex-end;
}
.imagecontainer{
    display:flex;
    justify-content: flex-end;
}

.container2 p {
    display:flex;
    justify-content: flex-end;
}

.color{
    background-color:red;
    width:78%;
}

.color h1{
    padding-left:16px;
   
}

.color{

}

.color p{
    padding-left:16px;
    padding-bottom:24px;
}

.start{
    padding-top:32px;
    padding-bottom:32px;
}



/* Third part */

.learningcontainer{
   display:flex;
   flex-direction:row;
   padding-left:89px;
  

 
}

.learningcontainer img{
    width:78%;
    
}

.start{
    text-align:center;
}

.details p {
    text-decoration: none;
}

.startcontainer{
   display:flex;
 flex-direction:row;
 padding-left:89px;
 
   
    
}

.startcontainer img{
    width:78%
}


.color{
    width:78%;
}

.start3 img{
     
}



/* Third part */

.secondthesis video{
   width:92%;
   padding-left:24px;
   padding-right:24px;

}

.secondthesis h2{
 padding-left:20px;
}

.secondthesis p{
    padding-left:20px;
}

.thesispart h1{
    text-align:center;
}

.txtthesis p{
    display:flex;
    justify-content: flex-end;
}

.txtthesis h3{
    display:flex;
    justify-content: flex-end;
}

.imagethesis img{
    display:flex;
    justify-content: flex-end;
   
}

.mediacontainerthesis {
    display:flex;
    justify-content: flex-end;
  

}

.secondimage{
    display:flex;
    justify-content: flex-end;
}

.txtimage h3 {
display:flex;
justify-content:flex-end;
}

.txtimage {
    display:flex;
    justify-content: flex-end;
}

.mediacontainerthesis img {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info{
    display:flex;
    justify-content: flex-end;
    transition-property: background-color 200ms linear;
    
}

.info:hover{
    background-color:grey;
}

.infonow{
    display:flex;
    justify-content: flex-end;
}
.classtype2{
    display:flex;
}

.infonow{
    display:flex;
    
}

.infonow:hover{
    background-color:grey;
  
   
    
    
}


.infox:hover{
    background-color:grey;
}
.secondinfo{
     display: flex;
}

 .fisma {
  
}

.secondthesis h1{
    text-align:right;
    display:flex;
    justify-content: center;
}

.infox h3{
    position: relative;
    padding-left:1rem;
   
    
}

.infox p{
   padding-left:1rem;
    
    
    
}

 .infox .noww{
  Padding-left:1rem;

 }

 .infox .now{
     padding-right:2rem;
}




/* Footer*/






nav div{
    display:flex;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: space-between;
   
}

ul li{
  margin-right:1rem;
  display:inline-flex;
  cursor: pointer;

  
 
  
}

ul li:hover{
    background-color:grey;
}


